@import url('https://fonts.googleapis.com/css2?family=Inter&family=Itim&family=Lato&family=Noto+Sans&family=Poppins:wght@400;500&family=Roboto+Mono:ital@1&family=The+Nautigal&family=Ubuntu&display=swap');
:root{
    --bg-color:#1999ce;
    --main-color: white;
   

}
*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;  
     font-family: 'Poppins', sans-serif;
     border: none;
     outline: none;
    
    
}


body{ 
    /* background: url('../images/undraw_Next_tasks_re_5eyy.png'); */
    /* background-repeat: no-repeat; */
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
} 
.logo img{
    width: 15%;
    height: 7%;
    margin-left: 8%;
    margin-top: 3%;
    border: px solid red;
}
main{
    flex-grow: 1;
 
}
.custom_container{
    position: relative;
    display: flex;
}

.user_msg{
    position: absolute;
    left: 50%;
    top: 25%;
}
.user_msg h2{
    font-weight: 900;
    color: var(--bg-color);

}

.typed-text{
    color: var(--bg-color);
    font-weight: bold;
    font-size: 2rem;
}
.cursor{
    border: 2px solid var(--bg-color);
    background-color: var(--bg-color);
    min-height: 1px;
    height: 35px;
    display: inline-block;
    position: relative;
    top: 6px;
    animation: blink 1s linear infinite; 
}
@keyframes blink{
    0%{
        border-color: #ccc;

    }
    49%{
        border-color: #ccc;
    }
    50%{
        border-color: transparent;
    }
    99%{
        border-color: transparent;
    }
    100%{
        border-color: #ccc;
    }
}
.typing{
    animation: none;
}
.icon_img img{
    width:700px; 
    height: 580px;
}
.goback_btn{
    position: absolute;
    left: 60%;
    top: 50%;
}
.goback_btn button{
    width: 12rem;
    height: 3rem;
    padding: 10px;
    background:var(--bg-color);
    border-radius: 30px;
    box-shadow: 2px 2px 8px gray;
    transition:all 0.5s ease-in-out;
}
.goback_btn a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 16px;
    
}
.goback_btn button:hover{
    background: white;
    border: 2px solid var(--bg-color);
    box-shadow: none;
  

}
.goback_btn:hover a{
    color: var(--bg-color);
}
@media 
only screen and (max-width: 480px),
(min-device-width: 200px) and (max-device-width: 480px)  {
    .custom_container{
        flex-direction: column;
    }
    .icon_img {
        margin-top: 5rem;
    }
    .icon_img img{
        width:400px;
        height: 400px
    }
    .user_msg{
        top: 4%;
        left:20px;
    }
    .typed-text{
        font-size: 1.3rem;
    }
    .cursor{
        height: 25px;
    }
    .home_btn{
        top: 100%;
        left:30%
    
    }
}
@media screen and (max-width: 1211px){
.icon_img img{
    margin-left: -10%;
    width:500px; 
    height: 580px;
    

}
.logo img{
    width: 25%;
    height: 7%;
   
}
}
@media screen and (max-width: 1226px){
    .icon_img img{
        /* width:400px;
        height: 400px; */
        margin-top: 15%;
    }
    .user_msg{
        top: 4%;
        left:20px;
    }
    .typed-text{
        font-size: 1.3rem;
    }
    .logo img{
        width: 30%;
        height: 7%;
       
    }
    /* .goback_btn{
        position: absolute;
        left: 30%;
        top: 50%;
    } */
    

}



