{% extends 'base/base.html' %}
{% load static %}
{% block content %}
{% block extra_head_content %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href='{% static "base/css/how-to/invest in business.css" %}'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">

{% endblock %}
   <!--  <title>invest in a business</title>
  </head>
  <body> -->

    <div class="custom-container my-0 mx-auto py-5 px-2">
      <div class="comman-btn d-flex d-inline-block">
          <a href="#" class="fs-5 px-2 py-3 text-white rounded-3 text-decoration-none pe-auto">How To Invest in a Business</a>
      </div>
      <div class="mt-3 border p-2 shadow">
      <p>Whether it is for <b>financial returns, strategic value or pure passion</b> , investing in businesses has always been an exciting pursuit. Private lenders and Private Equity firms invest in businesses purely for the financial return. But on the other hand, a strategic investor would invest mainly because of the expected synergies between his company and the investee company.<br><br>
          We understand that analysing business opportunities is different for each investor and the best way to go about this is to <b>directly connect with the business owner to understand his business</b> , products/services, background and investment plans.</p>
          <p class="blue-box w-auto d-inline-block m-0 mt-2 mb-1 p-2 text-white">B2B provides a secure platform to connect with various pre-qualified business investment opportunities</p>
      </div>
  </div>
   <!-- timeline start -->
   <div class="wrapper position-relative mx-auto my-5 px-4 py-1" style="max-width: 1080px;">
      <div class="center-line position-absolute bg-dark">
      </div>
      <div class="row row-1 d-flex justify-content-start">
        <section class="bg-white rounded position-relative p-3">
          <i class="icon fas fa-Today position-absolute text-center lh-base rounded-circle"></i>
          <div class="d-flex justify-content-between align-items-center">
            <span class="title d-inline-block text-white rounded fs-6 fw-bold px-1 mb-1">Today</span>
          </div>
          <h6 class="mt-1 fs-6 fw-bold">REGISTRATION ON B2B</h6>
          <p class="text-secondary">Explain your business and reason for exit in a clear and compelling manner. Choose the service level you want from B2B.</p>
        </section>
      </div>
      <div class="row row-2 d-flex justify-content-end">
        <section class="bg-white rounded position-relative p-3">
          <i class="icon fas fa-Today position-absolute text-center lh-base rounded-circle"></i>
          <div class="d-flex justify-content-between align-items-center">
            <span class="title d-inline-block text-white rounded fs-6 fw-bold px-1 mb-1">Tomorrow</span>
          </div>
          <h6 class="mt-1 fs-6 fw-bold">PROFILE ACTIVATION & RECOMMENDATION</h6>
          <p class="text-secondary">B2B reviews your business details and activates your profile. B2B also sends you a list of recommended buyers for your business.</p>
        </section>
      </div>
      <div class="row row-1 d-flex justify-content-start">
        <section class="bg-white rounded position-relative p-3">
          <i class="icon fas fa-Today position-absolute text-center lh-base rounded-circle"></i>
          <div class="d-flex justify-content-between align-items-center">
            <span class="title d-inline-block text-white rounded fs-6 fw-bold px-1 mb-1">By Third Week of March</span>
          </div>
          <h6 class="mt-1 fs-6 fw-bold">BUYER INTRODUCTIONS</h6>
          <p class="text-secondary">Interested acquirers start connecting with you. You can send proposals to acquirers to accelerate the process. To protect confidentiality, you can ask them to sign a NDA</p>
        </section>
      </div>
      <div class="row row-2 d-flex justify-content-end">
        <section class="bg-white rounded position-relative p-3" >
          <i class="icon fas fa-Today position-absolute text-center lh-base rounded-circle"></i>
          <div class="d-flex justify-content-between align-items-center">
            <span class="title d-inline-block text-white rounded fs-6 fw-bold px-1 mb-1">By First Week of April</span>
          </div>
          <h6 class="mt-1 fs-6 fw-bold">SHARING DOCUMENTS</h6>
          <p class="text-secondary">It is important to share a professionally-written Information Memorandum and Financial Projection with the investor. This helps the buyer evaluate the opportunity quickly and arrive at a decision.</p>
        </section>
      </div>
      <div class="row row-1 d-flex justify-content-start">
        <section class="bg-white rounded position-relative p-3">
          <i class="icon fas fa-Today position-absolute text-center lh-base rounded-circle"></i>
          <div class="d-flex justify-content-between align-items-center">
            <span class="title d-inline-block text-white rounded fs-6 fw-bold px-1 mb-1">By June</span>
          </div>
            <h6 class="mt-1 fs-6 fw-bold">DUE DILIGENCE & CLOSURE</h6>
            <p class="text-secondary">Post agreement, the buyer will conduct a due diligence to cross-check all information shared earlier. If no discrepancies are found, the deal is complete and you receive the required amount.</p>
        </section>
      </div>
    </div>
  
   <!-- timeline ends -->
    <!---note--->
    <section class="pb-2 pt-3 text-center">
      <div class="note-content w-75 mx-auto">
          <p style="font-size: 13px;"> Note: Illustrative timeline for "Fast Track" businesses shown above. Actual timelines may vary depending on industry attractiveness, business preparedness and valuation expectations.</p>
       </div>
      </section>
      <!---note end-->
  
      <div class="custom-container my-0 mx-auto py-5 px-2">
          <div class="text-center comman-title">
              <h3 class="my-4">Select Service Level</h3>
              <p class="pb-5">Based on how prepared you are and level of assistance required, select one of the plans below</p>
          </div>
          <div class="custom-row d-flex flex-wrap mt-90">
              <div class="col flex-shrink-0 px-3" id="col-plan">
                  <div class="plan-box position-relative h-100 bg-secondary bg-opacity-10 border border-2 p-2">
                      <div class="plan-title mb-2 text-center">
                          <h6 class="fw-bold fs-5 pt-2">KICK STARTER</h6>
                          <h6 class="plan py-2">FREE</h6>
                      </div>
                      <div class="plan-disp">
                          <p>Not in the pursuit for immediate PROPOSALS, But open to potential OFFERS.</p>
                          <ul class="plan-list mt-2 px-0 list-unstyled">
                              <li>Basic Profile <span class="tooltip position-absolute bg-light p-1 border rounded shadow opacity-100">Basic Profile of your business visable to buyers</span></li>
                              <li>One Proposal <span class="tooltip position-absolute bg-light p-1 border rounded shadow opacity-100">Basic Profile of your business visable to buyers</span></li><br><br>
                          </ul>
                      </div>
                      <div class="comman-btn position-absolute d-inline-block text-center">
                          <a href="" class="fs-6 py-2 px-2 text-white rounded-3 text-decoration-none pe-auto">Select Plan</a>
                      </div>
                  </div>
              </div>
  
              <div class="col flex-shrink-0 px-3" id="col-plan">
                  <div class="plan-box position-relative h-100 bg-secondary bg-opacity-10 border border-2 p-2">
                      <div class="plan-title mb-2 text-center">
                          <h6 class="fw-bold fs-5 pt-2">PRIME BUSINESS</h6>
                          <h6 class="plan py-2">AED 149</h6>
                      </div>
                      <div class="plan-disp">
                          <p>Getting down to BUSINESS, Inviting potential BUYERS.</p>
                          <ul class="plan-list mt-2 px-0 list-unstyled">
                              <li>Prime Business Profile <span class="tooltip position-absolute bg-light p-1 border rounded shadow opacity-100">Profile marked as 'Premium Plan' and gets higher visibility from Buyers on a confidential basis</span></li>
                              <li>25 Business Proposals <span class="tooltip position-absolute bg-light p-1 border rounded shadow opacity-100">Basic Profile of your business visable to buyers</span></li>
                              <li>Profile Activation <span class="tooltip position-absolute bg-light p-1 border rounded shadow opacity-100">Basic Profile of your business visable to buyers</span></li>
                              <li>Validity For 1 Year <span class="tooltip position-absolute bg-light p-1 border rounded shadow opacity-100">Basic Profile of your business visable to buyers</span></li><br><br>
                          </ul>
                      </div>
                      <div class="comman-btn position-absolute d-inline-block text-center">
                          <a href="" class="fs-6 py-2 px-2 text-white rounded-3 text-decoration-none pe-auto">Select Plan</a>
                      </div>
                  </div>
              </div>
  
              <div class="col flex-shrink-0 px-3" id="col-plan">
                  <div class="plan-box active-plan position-relative h-100 bg-white border border-2 p-2" >
                      <div class="plan-title mb-2 text-center">
                          <h6>Recommended</h6>
                          <h6 class="fw-bold fs-5">ELITE BUSINESS</h6>
                          <h6 class="plan py-2">AED 249</h6>
                      </div>
                      <div class="plan-disp">
                          <p>Businesses wanting to connect with multiple BUYERS and derive OFFERS to their listing.</p>
                          <ul class="plan-list mt-2 px-0 list-unstyled">
                              <li><span class="tooltip position-absolute bg-light p-1 border rounded shadow opacity-100">Basic Profile of your business visable to buyers</span>Elite Business Profile</li>
                              <li><span class="tooltip position-absolute bg-light p-1 border rounded shadow opacity-100">Basic Profile of your business visable to buyers</span>50 Business Proposals</li>
                              <li><span class="tooltip position-absolute bg-light p-1 border rounded shadow opacity-100">Basic Profile of your business visable to buyers</span>Profile Activation</li>
                              <li><span class="tooltip position-absolute bg-light p-1 border rounded shadow opacity-100">Basic Profile of your business visable to buyers</span>Quick Email Support</li>
                              <li><span class="tooltip position-absolute bg-light p-1 border rounded shadow opacity-100">Basic Profile of your business visable to buyers</span>Validity For 1 Year</li>
                              <li><span class="tooltip position-absolute bg-light p-1 border rounded shadow opacity-100">Basic Profile of your business visable to buyers</span>Promotion by RIAMIR</li>
                              <li><span class="tooltip position-absolute bg-light p-1 border rounded shadow opacity-100">Basic Profile of your business visable to buyers</span>Validity For 1 Year</li>
                              <li><span class="tooltip position-absolute bg-light p-1 border rounded shadow opacity-100">Basic Profile of your business visable to buyers</span>Top 25 Buyers/investors</li>
                              <li><span class="tooltip position-absolute bg-light p-1 border rounded shadow opacity-100">Basic Profile of your business visable to buyers</span>Non-Disclosure Agreement</li><br><br>
                          </ul>
                      </div>
                      <div class="comman-btn position-absolute d-inline-block text-center" style="margin-bottom: -12px;">
                          <a href="" class="fs-6 py-2 px-2 text-white rounded-3 text-decoration-none pe-auto">Select Plan</a>
                      </div>
                  </div>
              </div>
  
              <div class="col flex-shrink-0 px-3" id="col-plan">
                      <div class="plan-box position-relative h-100 bg-secondary bg-opacity-10 border border-2 p-2">
                      <div class="plan-title mb-2 text-center">
                          <h6 class="fw-bold fs-5 pt-2">JUMP START BUSINESS</h6>
                          <h6 class="plan py-2">AED 625</h6>
                      </div>
                      <div class="plan-disp">
                          <p>Multiple BUSINESS opportunities on behalf of your CLIENTS.</p>
                          <ul class="plan-list mt-2 px-0 list-unstyled">
                              <li><span class="tooltip position-absolute bg-light p-1 border rounded shadow opacity-100">Basic Profile of your business visable to buyers</span>Jump-Start Profile</li>
                              <li><span class="tooltip position-absolute bg-light p-1 border rounded shadow opacity-100">Basic Profile of your business visable to buyers</span>100 Business Proposals</li>
                              <li><span class="tooltip position-absolute bg-light p-1 border rounded shadow opacity-100">Basic Profile of your business visable to buyers</span>Profile Activation</li>
                              <li><span class="tooltip position-absolute bg-light p-1 border rounded shadow opacity-100">Basic Profile of your business visable to buyers</span>Email and Phone Support</li>
                              <li><span class="tooltip position-absolute bg-light p-1 border rounded shadow opacity-100">Basic Profile of your business visable to buyers</span>Validity For 1 Year</li>
                              <li><span class="tooltip position-absolute bg-light p-1 border rounded shadow opacity-100">Basic Profile of your business visable to buyers</span>Promotion By RIAMIR</li>
                              <li><span class="tooltip position-absolute bg-light p-1 border rounded shadow opacity-100">Basic Profile of your business visable to buyers</span>Top 25 Buyers/investors</li>
                              <li><span class="tooltip position-absolute bg-light p-1 border rounded shadow opacity-100">Basic Profile of your business visable to buyers</span>Non-Disclosure Agreement</li>
                              <li><span class="tooltip position-absolute bg-light p-1 border rounded shadow opacity-100">Basic Profile of your business visable to buyers</span>10 Business Plans Bundle</li>
                              <li><span class="tooltip position-absolute bg-light p-1 border rounded shadow opacity-100">Basic Profile of your business visable to buyers</span>10 Credits</li><br><br><br><br>
                          </ul>   
                      </div>
                      <div class="comman-btn position-absolute d-inline-block text-center">
                          <a href="" class="fs-6 py-2 px-2 text-white rounded-3 text-decoration-none pe-auto">Select Plan</a>
                      </div>
                  </div>
              </div>
  
              <div class="col flex-shrink-0 px-3" id="col-plan">
                  <div class="plan-box position-relative h-100 bg-secondary bg-opacity-10 border border-2 p-2">
                      <div class="plan-title mb-2 text-center">
                          <h6 class="fw-bold fs-5 pt-2">DELUXE BUSINESS</h6>
                          <h6 class="plan py-2">AED 2299</h6>
                      </div>
                      <div class="plan-disp">
                          <p>Businesses requiring TRANSACTION support with Business PLAN and EVALUATION</p>
                          <ul class="plan-list mt-2 px-0 list-unstyled">
                              <li><span class="tooltip position-absolute bg-light p-1 border rounded shadow opacity-100">Basic Profile of your business visable to buyers</span>Deluxe Business Profile</li>
                              <li><span class="tooltip position-absolute bg-light p-1 border rounded shadow opacity-100">Basic Profile of your business visable to buyers</span>UNLIMITED Proposals</li>
                              <li><span class="tooltip position-absolute bg-light p-1 border rounded shadow opacity-100">Basic Profile of your business visable to buyers</span>24 Hours Profile Activation</li>
                              <li><span class="tooltip position-absolute bg-light p-1 border rounded shadow opacity-100">Basic Profile of your business visable to buyers</span>Email and Phone Activation</li>
                              <li><span class="tooltip position-absolute bg-light p-1 border rounded shadow opacity-100">Basic Profile of your business visable to buyers</span>Validity on Deal Closure</li>
                              <li><span class="tooltip position-absolute bg-light p-1 border rounded shadow opacity-100">Basic Profile of your business visable to buyers</span>Top 100 Buyers/investors</li>
                              <li><span class="tooltip position-absolute bg-light p-1 border rounded shadow opacity-100">Basic Profile of your business visable to buyers</span>Non-Disclosure Agreement</li>
                              <li><span class="tooltip position-absolute bg-light p-1 border rounded shadow opacity-100">Basic Profile of your business visable to buyers</span>5000 Exclusive Emails</li>
                              <li><span class="tooltip position-absolute bg-light p-1 border rounded shadow opacity-100">Basic Profile of your business visable to buyers</span>Account Administrator</li>
                              <li><span class="tooltip position-absolute bg-light p-1 border rounded shadow opacity-100">Basic Profile of your business visable to buyers</span>Information Memorandum</li>
                              <li><span class="tooltip position-absolute bg-light p-1 border rounded shadow opacity-100">Basic Profile of your business visable to buyers</span>Financial Projection</li> <br><br><br>        
                          </ul>
                      </div>
                      <div class="comman-btn position-absolute d-inline-block text-center">
                          <a href="" class="fs-6 py-2 px-2 text-white rounded-3 text-decoration-none pe-auto">Select Plan</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  
  
  <div class="custom-container my-0 mx-auto py-3 px-2">
      <div class="w-100 my-0 mx-auto py-2 text-center">                    
        <p class="plan-disp" style="font-size: 12px;">Note: All prices are inclusive of taxes. All plans have access to Business Dashboard, Interested Buyer/Investor Contact details, and Online Valuation Tool. Paid plans are valid till proposal credits are exhausted or for a period of 1 year or till deal closure, whichever is earlier. All plans have a 1% finder's fee post transaction closure for business owners. If you are an advisor looking to list multiple businesses <a href="#" class="pe-auto link-a">Click here</a>. *Fair Usage Policy Applicable.</p>
      </div>
  </div>
  
{% block extra_js %}    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

{% endblock %}
{% endblock %}