{% load static %}
<!--Deal swiper from here-->
<section class="container-fluid alt_bg py-4 ">
    <h3 class="text-center">Popular Businesses Industries on Sale</h3>
    <section class="swiper_business_section container position-relative d-flex justify-content-center align-items-center">
      <div class="swiper mySwiper1 container">
        <div class="swiper-wrapper content">
          <div class="swiper-slide col-md-4 h-75 col-sm-12 mb-sm-4 bg-white my-4 ">
            <div class="card">
                <img src='{% static "base/images/apparel-img.jpg"%}' class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                  <h6 class="card-title text-center">Apparel</h6>
                  <p class="card-text">Some quick example text to build industry content.</p>
                 <div class="d-flex justify-content-around">
                  <a href="{% url 'in_progress' %}"  class="btn official_bg text-white">Know More</a>
                </div>
                </div>
              </div>
          </div>
          <div class="swiper-slide col-md-4 h-75 col-sm-12 mb-sm-4 bg-white my-4 ">
            <div class="card w-100">
                <img src='{% static "base/images/AI-img.jpg"%}' class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                  <h6 class="card-title text-center">Artificial Intelligence</h6>
                  <p class="card-text">Some quick example text to build industry content.</p>
                 <div class="d-flex justify-content-around">
                  <a href="{% url 'in_progress' %}"  class="btn official_bg text-white">Know More</a>
                </div>
                </div>
              </div>
          </div>
         
          <div class="swiper-slide col-md-4 h-75 col-sm-12 mb-sm-4  bg-white my-4 ">
            <div class="card">
                <img src='{% static "base/images/education-img.jpg"%}' class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                  <h6 class="card-title text-center">Education</h6>
                  <p class="card-text">Some quick example text to build industry content.</p>
                 <div class="d-flex justify-content-around">
                  <a href="{% url 'in_progress' %}" class="btn official_bg text-white">Know More</a>
                </div>
                </div>
              </div>
          </div>
          <div class="swiper-slide col-md-4 h-75 col-sm-12 mb-sm-4  bg-white my-4 ">
            <div class="card w-100">
                <img src='{% static "base/images/electronic-equipments.jpg"%}' class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                  <h6 class="card-title text-center">Electronic Equipments</h6>
                  <p class="card-text">Some quick example text to build industry content.</p>
                 <div class="d-flex justify-content-around">
                  <a href="{% url 'in_progress' %}" class="btn official_bg text-white">Know More</a>
                </div>
                </div>
              </div>
          </div>
          <div class="swiper-slide col-md-4 h-75 col-sm-12 mb-sm-4  bg-white my-4 ">
            <div class="card">
                <img src='{% static "base/images/food&beverage.jpg"%}' class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                  <h6 class="card-title text-center">Food & Beverage</h6>
                  <p class="card-text">Some quick example text to build industry content.</p>
                 <div class="d-flex justify-content-around">
                  <a href="{% url 'in_progress' %}" class="btn official_bg text-white">Know More</a>
                </div>
                </div>
              </div>
          </div>
          <div class="swiper-slide col-md-4 h-75 col-sm-12 mb-sm-4  bg-white my-4 ">
            <div class="card">
                <img src='{% static "base/images/healthcare-img.jpg"%}' class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                  <h6 class="card-title text-center">Healthcare</h6>
                  <p class="card-text">Some quick example text to build industry content.</p>
                 <div class="d-flex justify-content-around">
                  <a href="{% url 'in_progress' %}" class="btn official_bg text-white">Know More</a>
                </div>
                </div>
              </div>
          </div>
          <div class="swiper-slide col-md-4 h-75 col-sm-12  bg-white my-4 ">
            <div class="card">
                <img src='{% static "base/images/business-services.jpg"%}' class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                  <h6 class="card-title text-center">Business Services</h6>
                  <p class="card-text">Some quick example text to build industry content.</p>
                 <div class="d-flex justify-content-around">
                  <a href="{% url 'in_progress' %}" class="btn official_bg text-white">Know More</a>
                </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-next swiper-button-next1 "></div>
      <div class="swiper-button-prev swiper-button-prev1 "></div>
      <div class="swiper-pagination swiper-pagination1 "></div>
    </section>
  </section>
<!--Deal swiper upto here-->

