{% load static %}
<header id="container-header" class="shadow-sm pb-2 sticky-top flex-shrink-0">
  <nav class="navbar navbar-light bg-white d-flex justify-content-center align-items-center">
    <div class="container-fluid">
      <div class="logo_img">
        <a href="{% url 'home' %}" class="navbar-brand mx-2">
          <img class="w-100 h-100 img-fluid" src='{% static "base/images/logo-b2b.png" %}' alt="company logo">
        </a>
      </div>
      <form class="search_bar d-md-flex justify-content-between form-control w-50 mx-2  flex-grow-1">
        <input class="flex-grow-1" type="text" placeholder="Ex: Businesses for sale in UAE" aria-label="Search">
        <svg class="search_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z" />
        </svg>
      </form>
     <!--  <div class="btn-group profile_btn d-md-block d-sm-none">
        <button class="btn_bg rounded dropdown-toggle px-4" type="button" id="addprofile" data-bs-toggle="dropdown"
          data-bs-auto-close="true" aria-expanded="false">
          <span class="mx-1 px-1 bg-white link_color fw-bold rounded plus_sign">+</span> Add Profile
        </button>
        <ul class="dropdown-menu" aria-labelledby="addprofile">
          <li><a class="dropdown-item" href="{% url 'addbusinessprofile' %}">Business Profile</a></li>
          <li><a class="dropdown-item" href="{% url 'in_progress' %}">Investor Profile</a></li>
          <li><a class="dropdown-item" href="{% url 'in_progress' %}">Franchise Profile</a></li>
          <li><a class="dropdown-item" href="{% url 'in_progress' %}">Advisor Profile</a></li>
        </ul>
      </div> -->
    </div>
  </nav>
  <div class="bottom_nav bg-white d-md-flex justify-content-center align-items-center d-sm-none">
    <ul class="nav nav-pills d-flex justify-content-evenly  w-75 ">
      <li class="nav-item mx-4">
        <a class="nav-link {% if request.path == '/' %} active {% endif %} first_link" aria-current="page" href="{% url 'home' %}">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="" role="button"
          aria-expanded="false">Business for Sale</a>
        <ul class="dropdown-menu">

          <li><a class="dropdown-item" href="{% url 'business_in' %}">Startup</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="{% url 'business_in' %}">Business</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="{% url 'franchise_in' %}">Franchises</a> -->
         <a class="nav-link" href="{% url 'in_progress' %}">Franchises</a>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="{% url 'investor_in' %}">Investors & Buyers</a> -->
        <a class="nav-link" href="{% url 'in_progress' %}">Investors & Buyers</a>
      </li>
      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">How
          to</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'sellyourBusiness' %}">Sell your Business</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="{% url 'findinvestor' %}">Find Investors</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="{% url 'franchiesbusiness' %}">Franchise Your Business</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="{% url 'buybusiness' %}">Buy a Business</a></li>

          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="{% url 'investinbusiness' %}">Invest in a Business</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="{% url 'regAdvisor' %}">Register as an Advisor</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="{% url 'valueBusiness' %}">Value a Business</a></li>

          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="{% url 'memorandum' %}">Create Memorandum</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ques_answ' %}">Q & A</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle {% if request.path == '/about/' or request.path == '/contacts/basic/' %} active {% endif %}" data-bs-toggle="dropdown" href="#" role="button"
          aria-expanded="false">Company</a>
        <ul class="dropdown-menu">

          <li><a class="dropdown-item" href="{% url 'about' %}">About Us</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="{% url 'contactus' %}">Contact Us</a></li>
        </ul>
      </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      {% endif %}
    </ul>
  </div>
  <a class="menu_btn position-absolute end-0 top-0 mt-3 d-md-none d-xl-none d-lg-none btn" type="button"
    data-bs-toggle="offcanvas" data-bs-target="#mobile_offcanvas" aria-controls="offcanvasExample">
    <svg class="menu_icon" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 96C0 78.33 14.33 64 32 64H416C433.7 64 448 78.33 448 96C448 113.7 433.7 128 416 128H32C14.33 128 0 113.7 0 96zM0 256C0 238.3 14.33 224 32 224H416C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H32C14.33 288 0 273.7 0 256zM416 448H32C14.33 448 0 433.7 0 416C0 398.3 14.33 384 32 384H416C433.7 384 448 398.3 448 416C448 433.7 433.7 448 416 448z" style="fill: rgb(25, 153, 206);"/>
    </svg>
  </a>
  <div class="offcanvas offcanvas-start" tabindex="-1" id="mobile_offcanvas" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Huntment</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <div class="btn-group profile_btn_mobile mx-3">
          <button class="btn_bg rounded  dropdown-toggle px-4" type="button" id="addprofile" data-bs-toggle="dropdown"
            data-bs-auto-close="true" aria-expanded="false">
            <span class="mx-1 px-1 bg-white link_color fw-bold rounded plus_sign">+</span>
            Add Profile
          </button>
          <ul class="dropdown-menu " aria-labelledby="addprofile">
            <li><a class="dropdown-item" href="{% url 'addbusinessprofile' %}">Business Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'in_progress' %}">Investor Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'in_progress' %}">Franchise Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'in_progress' %}">Advisor Profile</a></li>
          </ul>
        </div>

      </div>
      <ul class="list-group my-4 border-0">
        <li class="list-group-item border-0">
          <a class="nav-link {% if request.path == '/' %} active {% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="list-group-item dropdown border-0 ">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
            aria-expanded="false">Business for Sale</a>
          <ul class="dropdown-menu">

            <li><a class="dropdown-item" href="{% url 'business_in' %}">Startup</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'business_in' %}">Business</a></li>
          </ul>
        </li>
        <li class="list-group-item border-0">
          <a class="nav-link" href="{% url 'in_progress' %}">Franchises</a>
        </li>
        <li class="list-group-item border-0">
          <a class="nav-link" href="{% url 'in_progress' %}">Investors & Buyers</a>
        </li>

        <li class="list-group-item dropdown border-0 ">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">How
            to</a>
          <ul class="dropdown-menu">

            <li><a class="dropdown-item" href="{% url 'sellyourBusiness' %}">Sell your Business</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'findinvestor' %}">Find Investors</a></li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'franchiesbusiness' %}">Franchise Your Business</a></li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'buybusiness' %}">Buy a Business</a></li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'investinbusiness' %}">Invest in a Business</a></li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'regAdvisor' %}">Register as an Advisor</a></li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'valueBusiness' %}">Value a Business</a></li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'memorandum' %}">Create Memorandum</a></li>

          </ul>
        </li>
        <li class="list-group-item border-0">
          <a class="nav-link" href="{% url 'ques_answ' %}">Q & A</a>
        </li>
        <li class="list-group-item dropdown border-0">
          <a class="nav-link dropdown-toggle {% if request.path == '/about/' or request.path == '/contacts/basic/' %} active {% endif %}" data-bs-toggle="dropdown" href="#" role="button"
            aria-expanded="false">Company</a>
          <ul class="dropdown-menu">

            <li><a class="dropdown-item" href="{% url 'about' %}">About Us</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'contactus' %}">Contact Us</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'testimonial' %}">Testimonial</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'blog' %}">Blog</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!--Offcanvas ends here-->
  </nav>
</header>
 {% block extra_js %} 
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
     -->
 {% endblock %}